%h2 Create a new Category
%br
%form{:action => '/category/new', :method => 'post', :role => 'form' }
  .form-group.form-alignment
    %lable{:for => 'categoryTitle' } Category Title
    %input.form-control{:type => 'text', :id => 'categoryName', :name => 'category[name]', :value => '',:placeholder => 'E.g Architecture'}
    - if @errors
      = @errors[:name][0]
  .form-group.form-alignment
    %lable{:for => 'categoryDescription'} Category Description
    %textarea.form-control{:id => 'categoryDescription', :name => 'category[description]', :value => '', :placeholder => 'E.g Learn Architecture Concepts from Scratch '}
    - if @errors
      = @errors[:name][0]
  %br
  %button.btn.btn-success{:type => 'submit'} Save Catgory

