%h2 Manage Users, Categories, Courses and Lessons
%br
.admin
  .card-columns
    .card.bg-info.mb-3.text-left.text-white
      .card-body
        %h5 Categories
        %p Create, Update, & Delete Categories
        %a.btn.btn-primary{:href => '/admin/categories'} Manage Categories
    .card.bg-info.mb-3.text-left.text-white
      .card-body
        %h5 Courses
        %p Create, Update, & Delete Courses
        %a.btn.btn-primary{:href => '/admin/courses'} Manage Courses
    .card.bg-info.mb-3.text-left.text-white
      .card-body
        %h5 Lessons
        %p Create, Update, & Delete Lessons
        %a.btn.btn-primary{:href => '/admin/lessons'} Manage Lessons
      %br
