%h2 Create a Course
%br
%form{:action => '/courses', :method => 'post', :role => 'form'}
  .form-group.form-alignment
    %label{:for => 'courseTitle'} Select Course Category
    %select.form-control.custom-select.mr-sm-2{:id => 'courseCategory', :name => 'course[category_id]' }
      %option.selected Choose a Category
      - @categories.each do |category|
        %option{:value => category.id } #{category.name}
    =render_error('category_id', @errors)
  .form-group.form-alignment
    %label{:for => 'courseTitle'} Course Title
    %input.form-control{:type => 'text', :id => 'courseTitle', :name => 'course[name]', :value => '', :placeholder => 'E.g Introduction to Architecture'}
    =render_error('name', @errors)
  .form-group.form-alignment
    %label{:for => 'courseDescription'} Course Description
    %textarea.form-control{:id => 'courseDescription', :name => 'course[description]', :value => '', :placeholder => 'An Introduction to ..'}
    =render_error('description', @errors)
  %br
  %button.btn.btn-success{:type => 'submit'} Save Course