%h2 Create a new password
%br
%form{:action => '/save-password', :method => 'post', :role => 'form'}
  .form-row.form-alignment
    .form-group.col-md-6
      %lable{:for => 'password'} Password:
      %input.form-control{:type => 'password', :id => 'password', :placeholder => 'Password', :name => 'user[password]', :value => ''}
      - if @password_error
        = @password_error
    .form-group.col-md-6
      %lable{:for => 'password_confirmation'} Confirm Password:
      %input.form-control{:type => 'password', :id => 'password_confirmation', :placeholder => 'Confirm Password', :name => 'user[password_confirmation]', :value => ''}
      - if @password_error
        = @password_error
  %button.btn.btn-success{:type => 'submit'} Save new password