%h2 Reset Password
%br
%form{:action =>'/reset-password', :method => 'post', :role => 'form'}
  .form-row.form-alignment
    .form-group.col-md-6
      %lable{:for => 'email_address'} Emails Address:
      %input.form-control{:type => 'email', :id => 'email_address', :placeholder => 'Email', :name => 'user[email_address]' }
      - if @email_error
        = @email_error
    .form-group.col-md-6
      %lable{:for => 'question'} What is the name of your first school?
      %input.form-control{:type => 'password', :id => 'answer', :placeholder => 'Security Question Answer', :name => 'user[answer]'}
      - if @question_error
        = @question_error
  %button.btn.btn-success{:type => 'submit'} Reset Password
