.homepage.mt-auto
  %h1.cover-heading Learn something new in 30 days.
  %p.lead
    Jifunze facilitates your learning by sending you a page per day on a topic you would love to learn.
    Browse through our courses and see if you can find something interesting to learn.
  %p.lead
    - if session[:user_id]
      %a.btn.btn-lg.btn-secondary{:href => "/category"} View Courses
    - else
      %a.btn.btn-lg.btn-secondary{:href => "/signup"} Signup for Lessons
