.homepage.mt-auto
  %h1.cover-heading Learn something new in 30 days.
  %p.lead
    Jifunze facilitates your learning by sending you a page per day on a topic you would love to learn.
    Browse through our Course ans see if you can find something interesting to learn.
  %p.lead
    %a.btn.btn-lg.btn-secondary{:href => "#"} SignUp for Lessons
